* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
img {
  max-width: 100%;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extra-light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extra-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* Common Codes */
.btn-primary {
  background-color: #dd0000;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  color: white;
  padding: 15px 25px;
}

.container {
  max-width: 1414px;
  margin: auto;
}
/* Banner Animation */
@keyframes banner-animation {
  0% {
    opacity: 0;
    transform: translatex(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes banner-player-animation {
  0% {
    opacity: 0;
    transform: translatex(-20px);
  }
  50% {
    opacity: 0.7;
    transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}
/* Hero Section */
.banner {
  display: flex;
  background-color: #161616;
  align-items: center;
  color: white;
  border: none;
  border-radius: 30px;
  margin: 80px auto;
  animation: banner-animation 0.7s ease-out forwards;
}

.banner-left {
  /* padding: 111px 81.35px 111px 125.24px; */
  padding-left: 125.24px;
  flex: 1;
}
.banner-right {
  flex: 1;
}

.banner-right img {
  animation: banner-player-animation 1s ease-in infinite;
}

.banner h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}

.banner p {
  margin-top: 19px;
  max-width: 82%;
  margin-bottom: 30px;
}

/* Upcoming Matches */
.upcoming-matches {
  display: flex;
  padding: 50px 0px;
  gap: 55px;
  /* justify-content: space-between; */
  animation: banner-animation 0.7s ease-out reverse;
}

.upcoming-matches-left {
  background-color: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  height: fit-content;
  flex: 1;
  max-width: 312px;
}
.upcoming-matches-left .btn-primary:nth-child(1),
.upcoming-matches-left .btn-primary:nth-child(2) {
  color: #161616;
  background-color: white;
}
.upcoming-matches-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
}
.upcoming-matches-right .card {
  border-radius: 10px;
  border: 1px solid #e8e8e8;
}
.upcoming-matches-right .card img {
  height: 175px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.upcoming-matches-right .card .btn-primary {
  background-color: white;
  color: #161616;
  border: 2px solid #161616;
  padding: 4px 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.upcoming-matches-right .card .card-body {
  padding: 20px;
}

.upcoming-matches-right .h2 {
  font-size: 18px;
  margin: 20px 0px;
}

.card-bottom {
  display: flex;
  margin: 20px;
  gap: 56px;
  color: #161616;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 20px;
  }
  .banner h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    background-color: transparent;
    max-width: 992px;
  }
  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn-primary:nth-child(1),
  .upcoming-matches-left .btn-primary:nth-child(2) {
    border: 1px solid #e8e8e8;
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 10px;
  }
  .upcoming-matches-left {
    flex-direction: column;
    background-color: transparent;
    max-width: 768px;
  }
  .banner {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
  .banner-left {
    margin-bottom: 50px;
    padding-left: 0px;
    padding-top: 20px;
  }

  .banner-left p {
    margin: 15px auto;
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(1, 1fr);
  }
}
